@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F9FA !important; /* Soft Off-White */
  color: #111827 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-navy {
  background-color: #1E3A8A !important; /* Official Navy Blue */
}

.text-navy {
  color: #1E3A8A !important;
}
